{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/choices.css' %}"
    />
    <meta charset="utf-8" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=Pacifico&display=swap');    
    </style>
  </head>
  <body>
    <div class="navigation-bar">
      <a href="/"><p class="anxie-tea">ANXIE-TEA</p></a>
      <div class="menu">
        <a href="/profile"><p class="menu-items">PROFILE</p></a>
        <a href="/mood"><p class="menu-items">MOOD DIARY</p></a>
        <a href="/analysis"><p class="menu-items">ANALYSIS</p></a>
      </div>
    </div>
    <div class = "buttons">
        <a href="/choices"><button>Draw</button></a>
        <a href="/choices"><button>Bop</button></a>
        <a href="/choices"><button>Reflect</button></a>
    </div>
    </div>
  </body>
</html>
