{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/emotions.css' %}" />
    <meta charset="utf-8" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
    </style>
  </head>
  <body>
      <div class="navigation-bar">
        <a href="/"><p class="anxie-tea">ANXIE-TEA</p></a>
        <div class="menu">
          <a href="/profile"><p class="menu-items">PROFILE</p></a>
          <a href="/emotions"><p class="menu-items">MOOD DIARY</p></a>
          <p class="menu-items">ANALYSIS</h1>
        </div>
      </div>
      <p class = "prompt">What are you feeling?</p>
      <div class = "buttons-row1"> 
        <a href="/mood"><button>happy</button></a>
        <a href="/mood"><button>stressed</button></a>
        <a href="/mood"><button>melancholy</button></a>
      </div>
      <div class = "buttons-row2"> 
        <a href="/mood"><button>optimistic</button></a>
        <a href="/mood"><button>excited</button></a>
        <a href="/mood"><button>tired</button></a>
      </div>
      <div class = "buttons-row3"> 
        <a href="/mood"><button>confident</button></a>
        <a href="/mood"><button>worried</button></a>
        <a href="/mood"><button>insecure</button></a>
      </div>
  </body>
</html>
