{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mood-slider.css' %}" />
    <meta charset="utf-8" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
    </style>
  </head>
  <div class="navigation-bar">
    <a href="/"><p class="anxie-tea">ANXIE-TEA</p></a>
    <div class="menu">
      <a href="/profile"><p class="menu-items">PROFILE</p></a>
      <a href="/mood"><p class="menu-items">MOOD DIARY</p></a>
      <p class="menu-items">ANALYSIS</h1>
    </div>
  </div>
      <p class = "prompt">How are you doing today?</p>
      <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      </div>
      <div class = "images">
        <img src="{% static 'images/sad.png' %}" />
        <img src="{% static 'images/happy.png' %}" />
      </div>

      <a href="/emotions"><button>Next</button></a>

    </body>
</html>
