<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <meta charset="utf-8" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
    </style>
  </head>
  <body>
    <div class="background">
      <div class="navigation-bar">
        <h1 class="anxie-tea">ANXIE-TEA</h1>
        <div class="menu">
          <h1 class="menu-items">PROFILE</h1>
          <h1 class="menu-items">MOOD DIARY</h1>
          <h1 class="menu-items">ANALYSIS</h1>
        </div>
      </div>
    </div>
  </body>
</html>
