<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <meta charset="utf-8" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300&display=swap");
    </style>
  </head>
  <body>
    <div class="outer-box">
      <div class="navigation-bar">
        <h1>ANXIE-TEA</h1>
      </div>
      <div class="inner-box">
        <h1>Welcome!</h1>
        <p>Sign Up Now</p>
      </div>
    </div>
  </body>
</html>
