<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <meta charset="utf-8" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
    </style>
  </head>
  <body>
      <div class="navigation-bar">
        <p class="anxie-tea">ANXIE-TEA</p>
        <div class="menu">
          <p class="menu-items">PROFILE</p>
          <p class="menu-items">MOOD DIARY</h1>
          <p class="menu-items">ANALYSIS</h1>
        </div>
      </div>
      <h1>Welcome!</h1>
      <img src = "{% static 'images/image.png' %}">
      <div class = "buttons"> 
        <button>Sign Up</button>
        <button>Log In</button>
      </div>
  </body>
</html>
