<!-- {% load static %} -->
<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/login.css' %}"
    />
    <!-- <link rel="stylesheet" type="text/css" href="login.css" /> -->
    <meta charset="utf-8" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Pacifico&display=swap');
    </style>
  </head>
  <body>
      <div class="navigation-bar">
        <a href="/"><p class="anxie-tea">ANXIE-TEA</p></a>
        <div class="menu">
          <a href="/profile"><p class="menu-items">PROFILE</p></a>
          <a href="/emotions"><p class="menu-items">MOOD DIARY</p></a>
          <p class="menu-items">ANALYSIS</h1>
        </div>
      </div>
    <div>
      <div>
        <div class="purple-rect">
          <div class="form-header">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
          <form method="POST" action="/signup_submit/" class="signup-form">
            {% csrf_token %}
            <p>
              Name: <input name="username" type="text" placeholder="Username" />
            </p>
            <p>
              Email:
              <input name="email" type="email" placeholder="Enter Email" />
            </p>
            <p>
              Password:
              <input name="password" type="password" placeholder="Password" />
            </p>
            <p>
              Age:
              <input name="age" type="age" placeholder="Age" />
            </p>
            <p>
              Gender:
              <input name="Gender" type="Gender" placeholder="Gender" />
            </p>
            <button type="submit" class = "submit-button">Ready!</button>
          </form>
        </div>
      </div>
      <!-- <div>
        <h2>Log In</h2>
        <form method="POST" action="/login/">
          {% csrf_token %}
          <input name="username" type="text" placeholder="Enter username" />
          <input name="password" type="password" placeholder="Password" />
          <button type="submit">Login</button>
        </form>
      </div> -->
    </div>
  </body>
</html>
