body {
    font-family: IBM Plex Mono;
    background-color: lightgray;
  
    position: relative;
    width: 1440px;
    height: 1024px;
  
    background: #f7ccdb;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
    background-size: 80px 80px;
    background-image: linear-gradient(to right, #ce94b2 1px, transparent 1px),
      linear-gradient(to bottom, #ce94b2 1px, transparent 1px);
  }

  .rectangle {
    position: absolute;
    left: 32.5%;
    right: 31.25%;
    top: 32.03%;
    bottom: 33.4%;
    
    background: #BFAFE0;
  }

  .rectangle {
      /* Rectangle 32 */

    position: absolute;
    left: 32.57%;
    right: 31.18%;
    top: 32.03%;
    bottom: 33.4%;

    background: #FFFFFF;
  }

  .ellipse {
      /* Ellipse 19 (Stroke) */
    position: absolute;
    left: 38.4%;
    right: 60.14%;
    top: 33.69%;
    bottom: 64.65%;

    background: #BFAFE0;
  }

  .ellipse {
      /* Ellipse 18 (Stroke) */

    position: absolute;
    left: 36.39%;
    right: 62.08%;
    top: 33.69%;
    bottom: 64.65%;

    background: #BFAFE0;
  }

  .ellipse {
      /* Ellipse 17 (Stroke) */

    position: absolute;
    left: 34.44%;
    right: 64.1%;
    top: 33.69%;
    bottom: 64.65%;

    background: #BFAFE0;
  }

  .vector {
    /* Vector 11 (Stroke) */

    position: absolute;
    left: 32.99%;
    right: 31.53%;
    top: 36.13%;
    bottom: 63.28%;
    
    background: #BFAFE0;
  }

  .vector {
      /* Vector 12 (Stroke) */

    position: absolute;
    width: 338.55px;
    height: 33.04px;
    left: 625px;
    top: 424px;

    background: #FFFFFF;
    border: 3px solid #BFAFE0;
  }

  .vector {
      /* Vector 12 (Stroke) */

    position: absolute;
    width: 340.8px;
    height: 33.04px;
    left: 623px;
    top: 491px;

    background: #FFFFFF;
    border: 3px solid #BFAFE0;
  }

  .vector {
      /* Vector for button */

    position: absolute;
    left: 44.72%;
    right: 42.85%;
    top: 57.32%;
    bottom: 37.87%;

    background: #000000;
  }
  
  button {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background: #bfafe0;
    width: 265px;
    height: 81.5px;
    margin: 5%;
    border: none;
  }
  
  .buttons {
    align-items: center;
  
    justify-content: center;
    position: absolute;
    left: 38.25%;
    top: 60%;
  }
  
  h1 {
    position: absolute;
    width: 900px;
    height: 240px;
    left: 284px;
    top: 173px;
  
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 104px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  
    color: #000000;
  }
  
  .anxie-tea {
    /* ANXIE-TEA */
  
    position: absolute;
    left: 2.08%;
    right: 88.61%;
    top: 30.77%;
    bottom: 32.97%;
  
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
  
    color: #000000;
  }
  
  .menu {
    position: absolute;
    top: 30.77%;
    bottom: 32.97%;
    left: 68.54%;
  
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .menu-items {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    width: 150px;
  }
  
  .background {
    position: relative;
    width: 1440px;
    height: 1024px;
  
    background: #f7ccdb;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
    background-size: 80px 80px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
  }
  
  .navigation-bar {
    position: absolute;
    width: 1460px;
    height: 91px;
    left: -20px;
    top: 32px;
    background: #eaffc9;
  }
  
